@media (min-width: 340px) and (max-width: 767px) {
    @font-face {
        font-family: "Montserrat-Regular";
        src: url(../fonts/montserrat-regular.woff2) format(woff2);
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Light";
        src: url(../fonts/montserrat-light.woff2) format(woff2);
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-SemiBold";
        src: url(../fonts/montserrat-semibold.woff2) format(woff2);
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat-Bold";
        src: url(../fonts/montserrat-bold.woff2) format(woff2);
        font-style: normal;
    }
    @font-face {
        font-family: "Prata-Regular";
        src: url(../fonts/Prata-Regular.woff2) format(woff2);
        font-style: normal;
    }
    html{
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    *,*::after,*::before{
        box-sizing: inherit;
    }

    .header {
        padding-top: 20px;
    }
    .nav-logo {
        display: flex;
        gap: 45%;
        margin-bottom: 38px;
    }
    .burger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        z-index: 1000;
        top: 30px;
        left: 20px;
    }
    .burger-menu div {
        width: 24px;
        height: 2px;
        background-color: #222222;
    }
    .menu {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #f1f1f1;
        z-index: 999;
        padding: 20px;
        width: 100vw;
        height: 100vh;
    }
    .menu a {
        font-family: "Montserrat-Medium";
        font-size: 20px;
        color: #000000;
        text-decoration: none;
    }
    .menu .social {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 73px;
        margin-bottom: 53px;
    }
    .menu .social .soc_hover {
        display: none;
    }
    .menu .social a:hover .soc_hover {
        display: block;
    }
    .menu .social a:hover .soc_no_hover {
        display: none;
    }
    .menu .header_reservation {
        width: 220px;
        height: 50px;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 auto 40px;
    }
    .menu .header_reservation a{
        text-decoration: none;
        color: #FFFFFF;
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
        line-height: auto;
        letter-spacing: 0.15em;
    }
    .menu .header_reservation:hover {
        background-color: #FFFFFF;
    }
    .menu .header_reservation:hover a {
        text-decoration: none;
        color: #222222;
    }
    .menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .logotype {
        position: relative;
        z-index: 16;
    }
    .nav-logo .social_desc {
        display: none;
    }
    h2{
        font-family: "Montserrat-Light";
        font-size: 22px;
        line-height: 32px;
        letter-spacing: .3em;
        color: #222222;
        text-align: center;
    }
    p{
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 22px;
        color: #666666;
    }
    .header_container, .main_container, .footer_container,
    .first_main_container, .second_main_container {
        width: 100%;
        padding: 0;
    }
    .header {
        background-color: #F4F4F4;
        margin-bottom: 50px;
    }
    .header_name {
        margin-bottom: 12px;
    }
    .header_text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header_MB br {
        display: none;
    }
    .header_city {
        margin-bottom: 20px;
        text-align: center;
    }
    .header_prof {
        font-family: "Montserrat-Bold";
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.3em;
        margin-bottom: 5px;
    }
    .header_prof_city {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header_pretext {
        margin-right: 5px;
        font-family: "Montserrat-Bold";
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.55em;
        color: #000000;
    }
    .header_place {
        font-family: "Montserrat-Bold";
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.3em;
        color: #000000;
    }
    .header_what_photos {
        margin-bottom: 25px;
    }
    .header_photos_text {
        font-family: "Prata-Regular";
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #222222;
        text-align: center;
    }
    .header_text .header_reservation {
        width: 220px;
        height: 50px;
        background-color: #222222;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin: 0 auto 40px;
    }
    .header_text .header_reservation a {
        text-decoration: none;
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
        letter-spacing: .15em;
        color: #FFFFFF;
    }
    .header_text .header_reservation:hover {
        background-color: #FFFFFF;
        color: #222222;
    }
    .header_text .header_reservation:hover a {
        text-decoration: none;
        color: #222222;
    }
    .header_photo {
        display: flex;
        justify-content: space-around;
    }
    .header_photo img {
        width: 340px;
        height: 320px;
    }
/*--------------------------------------------------*/
    .first_main_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main_text {
        width: 340px;
        height: 176px;
        margin-bottom: 44px;
    }
    .main_description {
        text-align: center;
        font-family: "Prata-Regular";
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .02em;
        color: #222222;
    }
    .main_achivements {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .main_img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 34px;
    }
    .main_img img {
        display: block;
        width: 340px;
        height: 140px;
    }
    .main_info {
        width: 340px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        column-gap: 20px;
        row-gap: 25px;
    }
    .main_number {
        font-family: "Prata-Regular";
        font-size: 34px;
        line-height: 40px;
        letter-spacing: .02em;
        text-align: center;
        color: #222222;
        margin-bottom: 8px;
    }
    .main_text_desc {
        font-family: "Montserrat-SemiBold";
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .1em;
        text-align: center;
        color: #222222;
    }
    .main_portfolio {
        margin-bottom: 50px;
    }
    .main_portfolio_text {
        margin-bottom: 31px;
    }
    .item8 img, .item5 img, .item4 img, .item1 img {
        display: block;
        width: 340px;
        height: 235px;
    }
    .item2 img, .item3 img, .item6 img, .item7 img {
        display: block;
        width: 340px;
        height: 360px;
    }
    .box{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .main_feedback {
        margin-bottom: 50.24px;
    }
    .main_feedback_text {
        margin-bottom: 39px;
    }
    .main_feedback_blocks{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .main_feedback_rectangle {
        width: 300px;
    }
    .main_feedback_img {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 15px;
    }
    .main_feedback_img img {
        width: 50px;
        height: 50px;
    }
    .main_feedback_rectangle p {
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0em;
        color: #666666;
    }
    .main_feedback_info .main_feedback_name {
        font-family: "Prata-Regular";
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .02em;
        color: #222222;
    }
    .main_feedback_info .main_feedback_age {
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 24px;
        color: #999999;
    }
    .main_cost_background {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #F4F4F4;
        height: 940px;
    }
    .main_cost_description {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .main_cost_img {
        width: 340px;
        height: 270px;
        margin-bottom: 40px;
    }
    .main_cost_img img {
        display: block;
        width: 340px;
        height: 270px;
    }
    .main_cost_text {
        width: 300px;
        margin-bottom: 22px;
    }
    .main_cost_note {
        width: 300px;
        margin-bottom: 38px;
    }
    .main_cost_note p {
        text-align: center;
    }
    .main_cost_info_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }
    .el {
        width: 300px;
        height: 90px;
        background-color: #FFFFFF;
        padding-top: 40px;
        position: relative;
    }
    .el img {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 1;
        right: 20px;
        top: 20px;
    }
    .el h3 {
        font-family: "Prata-Regular";
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .1em;
        color: #222222;
        margin-bottom: 8px;
        position: absolute;
        z-index: 21;
        top: 30px;
        left: 30px;
    }
    .el p {
        font-family: "Montserrat-SemiBold";
        font-size: 18px;
        line-height: 24px;
        letter-spacing: .02em;
        color: #222222;
        position: absolute;
        z-index: 3;
        left: 30px;
        bottom: 19px;
    }
/*------------------------------------------------------------*/
    .footer {
        height: 140px;
        padding-top: 33px;
    }
    .footer_container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}